<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>DoupiViewer</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.doupi.viewer</string>
	<key>CFBundleName</key>
	<string>doupi</string>
	<key>CFBundleDisplayName</key>
	<string>doupi</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>LSUIElement</key>
	<false/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Markdown Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>md</string>
				<string>markdown</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>HTML Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>html</string>
				<string>htm</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>TSX JSX Source</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tsx</string>
				<string>jsx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Source Code</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>js</string>
				<string>ts</string>
				<string>css</string>
				<string>scss</string>
				<string>less</string>
				<string>json</string>
				<string>yaml</string>
				<string>yml</string>
				<string>py</string>
				<string>go</string>
				<string>rs</string>
				<string>sql</string>
				<string>sh</string>
				<string>bash</string>
				<string>zsh</string>
				<string>toml</string>
				<string>xml</string>
				<string>php</string>
				<string>rb</string>
				<string>java</string>
				<string>c</string>
				<string>cpp</string>
				<string>h</string>
				<string>hpp</string>
				<string>swift</string>
				<string>kt</string>
				<string>scala</string>
				<string>pl</string>
				<string>lua</string>
				<string>r</string>
				<string>dart</string>
				<string>fs</string>
				<string>fsx</string>
				<string>svelte</string>
				<string>vue</string>
				<string>astro</string>
				<string>mjs</string>
				<string>cjs</string>
				<string>mts</string>
				<string>cts</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Plain Text</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PDF Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>png</string>
				<string>jpg</string>
				<string>jpeg</string>
				<string>gif</string>
				<string>webp</string>
				<string>svg</string>
				<string>bmp</string>
				<string>tiff</string>
				<string>tif</string>
				<string>ico</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
